@page "/"
@using System;

<MudContainer Class="mt-8" MaxWidth="MaxWidth.Large">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Compilador de frases</MudText>
    <MudGrid Spacing="6" Class="mt-8">
        <MudItem xs="4">
            <MudText Typo="Typo.h5" GutterBottom="true">Entrada en español</MudText>
            <MudGrid>
                <MudItem xs="12">
                    <MudTextField T="string" Variant="Variant.Outlined" @bind-Value="@EntradaDeUsuario" Lines="8"
                        Immediate="true" />
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center mt-2">
                    <MudButtonGroup OverrideStyles="false">
                        <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Success" Size="Size.Small"
                            Class="mb-8" OnClick="OnClickStart" Disabled="@(IsListening)">Grabar Audio</MudButton>
                        <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Error" Size="Size.Small"
                            Class="mb-8" OnClick="OnClickStop" Disabled="@(!IsListening)">Detener Audio</MudButton>
                    </MudButtonGroup>
                </MudItem>
            </MudGrid>
        </MudItem>
        <MudItem xs="4">
            <MudText Typo="Typo.h5" GutterBottom="true">Resultado en JavaScript</MudText>
            <MudPaper Class="d-flex flex-column" Style="height:100%;" Outlined="true">
                <MudList Clickable="true">
                    @if (Salida != null)
                    {
                        @foreach (var linea in Salida.Split('\n'))
                        {
                            <MudListItem Text="@linea" />
                        }
                    }
                </MudList>
                <div class="mt-auto">
                    <MudDivider />
                    <div class="d-flex pa-4">
                        <MudText>Estado:</MudText>
                        @if (String.IsNullOrEmpty(Estado))
                        {
                            <MudText Class="ml-auto"><b>En proceso</b></MudText>
                        }
                        else
                        {
                            @if (Estado == "Compilado")
                            {
                                <MudText Class="ml-auto" Color="Color.Success"><b>@Estado</b></MudText>
                            }
                            else
                            {
                                <MudText Class="ml-auto" Color="Color.Error"><b>@Estado</b></MudText>
                            }

                        }
                    </div>
                </div>
            </MudPaper>
        </MudItem>
        <MudItem xs="4">
            <MudText Typo="Typo.h5" GutterBottom="true">Tabla de símbolos</MudText>
            <MudPaper Class="d-flex flex-column" Style="height:100%;" Outlined="true">
                <MudList Clickable="true">
                    @if (Salida != null)
                    {
                        @foreach (var simbolo in ListaSimbolos())
                        {
                            <MudListItem Text="@($"{simbolo.Item1}: {simbolo.Item2}")" />
                        }
                    }
                </MudList>
            </MudPaper>
        </MudItem>
    </MudGrid>
    <MudGrid Justify="Justify.Center" Class="mt-16">
        <MudItem xs="12" Class="d-flex justify-center">
            <MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined" OverrideStyles="false">
                <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Transparent" Size="Size.Large"
                    Class="mt-8" OnClick="Clear">Limpiar</MudButton>
                <MudButton Variant="Variant.Filled" DisableElevation="true" Color="Color.Primary" Size="Size.Large"
                    Class="mt-8" OnClick="CompileEntry" Disabled="@ButtonDisabled">Compilar</MudButton>
            </MudButtonGroup>
        </MudItem>
    </MudGrid>
</MudContainer>